

<div class="userSongInput">
  <h2>Add New Song</h2>
  <input type="text" ng-model="newSongName" class="form-control" placeholder="Song Name">
  <input type="text" ng-model="newSongArtist" class="form-control" placeholder="Artist Name">
  <input type="text" ng-model="newSongAlbum" class="form-control" placeholder="Album Name">
  <br>
  <a href="#/songs"><button ng-click="addSong()" class="btn btn-default btn-sm col-md-2 addSong">Add Song</button></a>
</div>

<div>
	<a href="#/songs">&lt; Back to song list</a>
</div>